<div>
  <h2 style="color: #1b563c; font-weight: bold" mat-dialog-title>Chọn biểu tượng cảm xúc</h2>

  <mat-dialog-content>
    <!-- Search bar -->
<!--    <div style="margin-bottom: 10px;">-->
<!--      <input type="text" [(ngModel)]="searchTerm" (input)="filterEmojis()" placeholder="Tìm kiếm biểu tượng cảm xúc..." style="width: 100%; padding: 8px; border-radius: 5px; border: 1px solid #ccc;">-->
<!--    </div>-->

    <!-- Recently used emojis -->
    <div *ngIf="recentEmojis.length > 0" style="margin-bottom: 10px;">
      <h4>Recently Used</h4>
      <div>
        <span *ngFor="let emoji of recentEmojis" (click)="selectEmoji(emoji)" style="font-size: 24px; cursor: pointer; margin: 5px;">
          {{ emoji }}
        </span>
      </div>
    </div>

    <!-- Emoji list -->
    <div>
      <div>
        <span *ngFor="let emoji of filteredEmojis" (click)="selectEmoji(emoji)" style="font-size: 24px; cursor: pointer; margin: 5px;">
          {{ emoji }}
        </span>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button style="color: #1b563c" mat-button (click)="dialogRef.close()">Đóng</button>
  </mat-dialog-actions>
</div>
