<div class="forgot-password-container">
  <h2>Quên mật khẩu</h2>
  <form (submit)="onForgotPassword()">
    <div>
      <label for="usernameOrEmail">Tên đăng nhập:</label>
      <input type="text" id="usernameOrEmail" [(ngModel)]="username" name="username" required>
    </div>
    <button type="submit">Đặt lại mật khẩu</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
