<div class="sidebar">

  <div class="header-container">
    <h2 style="color: #20613c; font-weight: bold; font-size: 30px">App chat</h2>
    <img style="width: 50px; height: 50px; border: 2px solid #20613c" [src]="getAvatarUrl(userAvatar)"
         alt="User Avatar"
         class="user-avatar"
         (click)="openImagePreview(userAvatar)">
  </div>

  <!-- Thanh tìm kiếm -->
  <div class="sidebar-search">
    <input style="border: 2px solid #20613c; height: 6px; font-size: 12px; width: 270px" type="text"
           placeholder="Tìm kiếm..." [(ngModel)]="searchQuery" (input)="filterRelationships()">
  </div>

  <!-- Các nút tab -->
  <div class="sidebar-icons">
    <button (click)="selectTab('recent')" [class.active]="selectedTab === 'recent'">
      <i style="color: #20613c;" class="fas fa-clock"></i>
    </button>
    <button (click)="selectTab('requests')" [class.active]="selectedTab === 'requests'">
      <i style="color: #20613c;" class="fas fa-user-plus"></i>
    </button>
    <button (click)="selectTab('friends')" [class.active]="selectedTab === 'friends'">
      <i style="color: #20613c;" class="fas fa-user-friends"></i>
    </button>
    <button (click)="selectTab('groups') ; onCreateGroup()"  [class.active]="selectedTab === 'groups'">
      <i style="color: #20613c;" class="fa-solid fa-users-rectangle"></i>
    </button>
    <button (click)="selectTab('settings')" [class.active]="selectedTab === 'settings'">
      <i style="color: #20613c;" class="fa-solid fa-bars"></i>
    </button>
  </div>

  <div class="sidebar-content">
    <!-- Recent Conversations -->
    <ul *ngIf="!searchQuery.startsWith('@') && selectedTab === 'recent'">
      <li style="border: none" *ngFor="let relationship of filteredRelationships"
          (click)="onSelectRecipient(relationship.id)"
          [ngClass]="{'selected': relationship.id === selectedRecipientId}">
        <img style="border: 2px solid #1b563c" [src]="getAvatarUrl(relationship.avatar)" alt="Avatar">
        <div class="relationship-details">
          <h4 style="color: #1b563c; font-weight: bold"> {{ relationship.fullName }}</h4>
          <p class="tag-name">{{ relationship.tagName }}</p> <!-- Hiển thị tagName -->
          <p>{{ relationship.lastMessage }}</p>
        </div>
        <span class="timestamp">{{ relationship.timestamp }}</span>
        <span class="notification-dot" *ngIf="relationship.hasNewMessage"></span>
      </li>
    </ul>

    <!-- Search Users -->
    <ul *ngIf="filteredUsers.length > 0 && searchQuery.startsWith('@') && selectedTab === 'recent'">
      <li *ngFor="let user of filteredUsers">
        <img [src]="getAvatarUrl(user.avatar)" alt="Avatar">
        <div class="user-details">
          <h4>{{ user.firstName }} {{ user.lastName }}</h4>
          <span>{{ user.tagName }}</span>
        </div>
        <div class="user-actions">
          <!-- Nếu người dùng đã là bạn bè -->
          <button *ngIf="isFriend(user.id)" (click)="onSelectRecipient(user.id)" class="icon-button">
            <i class="fas fa-comments"></i> <!-- Biểu tượng chat -->
          </button>

          <!-- Nếu đã gửi yêu cầu kết bạn, hiển thị nút Hủy -->
          <button *ngIf="user.hasSentRequest && !user.hasReceivedRequest"
                  (click)="onCancelFriendRequest(user.requestId, 'search')"
                  class="icon-button">
            <i class="fas fa-user-times"></i> <!-- Biểu tượng hủy yêu cầu kết bạn -->
          </button>

          <!-- Nếu đã nhận được yêu cầu kết bạn, hiển thị nút Đồng ý và Từ chối -->
          <div *ngIf="user.hasReceivedRequest">
            <button (click)="onAcceptRequest(user.receivedRequestId,'search')" class="icon-button">
              <i class="fas fa-user-check"></i> <!-- Biểu tượng đồng ý kết bạn -->
            </button>
            <button (click)="onRejectRequest(user.receivedRequestId,'search')" class="icon-button">
              <i class="fas fa-user-times"></i> <!-- Biểu tượng từ chối kết bạn -->
            </button>
          </div>

          <!-- Nếu chưa gửi yêu cầu kết bạn, hiển thị nút Kết bạn -->
          <button *ngIf="!isFriend(user.id) && !user.hasSentRequest && !user.hasReceivedRequest"
                  (click)="onAddFriend(user.id)"
                  class="icon-button">
            <i class="fas fa-user-plus"></i> <!-- Biểu tượng kết bạn -->
          </button>
        </div>
      </li>
    </ul>

    <!-- Groups -->
    <div *ngIf="selectedTab === 'groups'">
      <!-- Danh sách các nhóm -->
      <div class="group-content">
        <ul>
          <li style="border: none" *ngFor="let group of groups" (click)="onSelectRecipient(group.id)"
              [ngClass]="{'selected': group.id === selectedRecipientId}">
            <img style="border: 2px solid #1b563c" [src]="getAvatarUrl(group.avatar)" alt="Avatar">
            <div class="group-details">
              <h4 style="color: #1b563c; font-weight: bold">{{ group.name }}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Friends -->
    <ul *ngIf="selectedTab === 'friends'">
      <li style="border: none" *ngFor="let friend of friends" (click)="onSelectRecipient(friend.id)"
          [ngClass]="{'selected': friend.id === selectedRecipientId}">
        <img style="border: 2px solid #1b563c" [src]="getAvatarUrl(friend.avatar)" alt="Avatar">
        <div class="friend-details">
          <h4 style="font-weight: bold; color: #1b563c">{{ friend.fullName }}</h4>
          <p class="tag-name">{{ friend.tagname }}</p>
        </div>
      </li>
    </ul>

    <div *ngIf="selectedTab === 'requests'">
      <!-- Nút Lời mời kết bạn và Gửi lời mời kết bạn -->
      <div style="margin-top: 5px">
        <button
          (click)="onSelectButton('requestst')"
          [style.background]="selectedButton === 'requestst' ? '#0a3422' : '#1b563c'"
          style="margin-right: 5px; font-size: 15px; color: white; padding: 8px 10px; border-radius: 10px">
          Lời mời kết bạn
          <i class="fa-regular fa-circle-left"></i>
        </button>

        <button
          (click)="onSelectButton('sentRequests')"
          [style.background]="selectedButton === 'sentRequests' ? '#0a3422' : '#1b563c'"
          style="font-size: 15px; color: white; padding: 8px 10px; border-radius: 10px">
          <i class="fa-regular fa-circle-right"></i>
          Lời mời đã gửi
        </button>
      </div>
      <div *ngIf="selectedButton === 'requestst'">
        <ul class="request-list">
          <li style="border: none" *ngFor="let request of friendRequests" class="request-item">
            <img style="border: 2px solid #1b563c" [src]="getAvatarUrl(request.avatar)" alt="Avatar" class="request-avatar">
            <div class="request-details">
              <h4 style="color: #1b563c; font-weight: bold">{{ request.senderName }}</h4>
              <h5>({{ request.tagName }})</h5>
            </div>
            <div class="icon-group">
              <button (click)="onAcceptRequest(request.id,'friendRequests')" class="icon-button" title="Accept">
                <i class="fas fa-check"></i>
              </button>
              <button (click)="onRejectRequest(request.id,'friendRequests')" class="icon-button reject-button"
                      title="Reject">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <!-- Nội dung cho Gửi lời mời kết bạn -->
      <div *ngIf="selectedButton === 'sentRequests'">
        <ul class="sent-request-list">
          <li style="border: none" *ngFor="let sentRequest of sentFriendRequests" class="sent-request-item">
            <div class="request-details">
              <h4 style="color: #1b563c; font-weight: bold">{{ sentRequest.tagName }}</h4>
              <p>{{ sentRequest.requestDate | date:'short' }}</p>
            </div>
            <div class="icon-group">
              <button (click)="onCancelFriendRequest(sentRequest.id,'friendRequests')" class="icon-button cancel-button"
                      title="Cancel Request">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>



    <!-- Settings -->
    <ul *ngIf="selectedTab === 'settings'" class="settings-list">
      <li (click)="viewBlockedUsers()" class="settings-item">
        <i class="fas fa-ban settings-icon"></i>
        <span style="color: #1b563c; font-weight: bold" class="settings-text">Danh sách bị chặn</span>
      </li>
<!--      <li (click)="changeLanguage()" class="settings-item">-->
<!--        <i class="fas fa-globe settings-icon"></i>-->
<!--        <span class="settings-text">Change language</span>-->
<!--      </li>-->
      <li (click)="openUpdateUserDialog()" class="settings-item">
        <i class="fas fa-user-edit settings-icon"></i>
        <span style="color: #1b563c; font-weight: bold" class="settings-text">Cập nhật tài khoản</span>
      </li>
      <li (click)="openChangePasswordDialog()" class="settings-item">
        <i class="fas fa-key settings-icon"></i>
        <span style="color: #1b563c; font-weight: bold" class="settings-text">Đổi mật khẩu</span>
      </li>
      <li (click)="signOut()" class="settings-item">
        <i class="fas fa-sign-out-alt settings-icon"></i>
        <span style="color: #1b563c; font-weight: bold" class="settings-text">Thoát</span>
      </li>
    </ul>

    <!-- No Content Messages -->
    <div class="no-content" *ngIf="groups.length === 0 && selectedTab === 'groups'">
      Không tìm thấy nhóm nào.
    </div>
    <div class="no-content"
         *ngIf="filteredRelationships.length === 0 && selectedTab === 'recent' && !searchQuery.startsWith('@')">
      Không có cuộc trò chuyện gần đây.
    </div>
    <div class="no-content" *ngIf="friends.length === 0 && selectedTab === 'friends'">
      Không tìm thấy bạn bè.
    </div>
    <div class="no-content"
         *ngIf="friendRequests.length === 0 && sentFriendRequests.length === 0 && selectedTab === 'requests'">
      Không có yêu cầu kết bạn hoặc gửi yêu cầu.
    </div>
  </div>
</div>
